<header class="page-header">
  <div class="container">
    <nav class="page-nav">
      <ul class="page-nav__list">
        <li><a href="/" class="page-nav__link">Homepage</a></li>
        <li><a href="/add-product" class="page-nav__link">Add Product</a></li>
      </ul>
    </nav>
  </div>
</header>